<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
          android:versionCode="1" 
          android:versionName="1.0" 
          package="com.companyname.ctxamarin">
	
  <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />
	<!-- Required to allow the app to send events and user profile information -->
	<uses-permission android:name="android.permission.INTERNET"/>
	<!-- Recommended so that CleverTap knows when to attempt a network call -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <application android:label="@string/app_name"
    android:name="com.clevertap.android.sdk.Application" android:allowBackup="true" android:roundIcon="@mipmap/ic_launcher_round" 
			   android:supportsRtl="true" android:theme="@style/AppTheme">

	  <meta-data
    android:name="CLEVERTAP_ACCOUNT_ID"
    android:value="489-7K5-676Z"/>
	  <meta-data
		  android:name="CLEVERTAP_TOKEN"
		  android:value="TEST-53a-cb4"/>
	  <!-- IMPORTANT: To force use Google AD ID to uniquely identify  users, use the following meta tag. GDPR mandates that if you are using this tag, there is prominent disclousure to your end customer in their application. Read more about GDPR here - https://clevertap.com/blog/in-preparation-of-gdpr-compliance/ -->
	  <meta-data
		  android:name="CLEVERTAP_USE_GOOGLE_AD_ID"
		  android:value="0"/>
	  
  </application>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
